{% extends 'zascat/base.html' %}

{% block content %}
    <p>{{ STATIC_URL }}</p>
    <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
         </ol>
</nav>
    <div class="row ">
        {% for item in cat_list %}
            <div class="col-sm-4">

                <div class="media">
                {% if item.img %}
                    <img class="mr-3" src="/media/{{ item.img }}" alt="{{ item.name }}">
                {% endif %}
                </div>
             <div class="media-body">
            <a href="{{ item.id }}"> <h5 class="mt-0">{{ item.name }}</h5></a>
                {{ item.text }}
            </div>

    </div>
    {% endfor %}
    </div>
{% endblock %}